@font-face{
    font-family: 'Maler';
    /* src: url(../../fonts/brankovic.ttf); */
    /* src: url(../fonts/ConcertOne-Regular.ttf); */
    src: url(../fonts/Hand_Of_Sean_Demo.ttf);
}
.contenedor {
    display : flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* background-position: center center;
    background-size: cover; */
    height: 100vh;
    background: rgb(19,94,233);
    background: radial-gradient(circle, rgba(19,94,233,0.962877030162413) 44%, rgba(6,50,226,0.9360119047619048) 100%);
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,165,233,1) 100%);
    border-radius: 10px;
    border: 1px solid blue;
    height:500px;
    width: 600px;    
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    font-size: 15px;
}
.select {
    font-family: cursive;
    
}
.selectCountry {
    font-family: cursive;
    width: 230px;
}

.form input {
    font-family: cursive; 
    height: 30px;
    width:250px
}

.item {
    margin-bottom: 20px;
}

.item label {
    font-family: 'Maler';
    font-weight: 400;
    margin-right: 20px;
    margin-left: 100px;
}

/* .item input {

} */

.btn {
    font-family: 'Maler';
    padding: 3px 0px;
    margin-top: 20px;
    margin-left: 250px;
    width: 100px;
    /* font-weight: 700; */
    color: rgb(173, 247, 243)
}
.btn:hover {
    color: rgb(12, 1, 1);
    /* background-color: rgb(19,94,233) */
    /* background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(32,29,253,1) 48%, rgba(252,176,69,1) 100%); */
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(32,29,253,1) 100%, rgba(252,176,69,1) 100%);
} 

.link {
    font-family: 'Maler';
    font-weight: 700;
    font-size: 22px;
}