@font-face{
    font-family: 'Maler';
    /* src: url(../../fonts/brankovic.ttf); */
    /* src: url(../fonts/ConcertOne-Regular.ttf); */
    src: url(../fonts/Hand_Of_Sean_Demo.ttf);
}
.contenedor {
    display : flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 100vh; 
    /* background: rgb(19,94,233);
    background: radial-gradient(circle, rgba(19,94,233,0.962877030162413) 44%, rgba(6,50,226,0.9360119047619048) 100%); */
    background: rgb(52,49,54);
    background: radial-gradient(circle, rgba(52,49,54,1) 0%, rgba(0,0,8,1) 100%);
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgb(47,232,233);
    background: radial-gradient(circle, rgba(47,232,233,1) 0%, rgba(138,164,241,1) 67%);
    border-radius: 10px;
    border: 1px solid blue;
    width: 600px;    
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    font-size: 15px;
}
.select {
    font-family: cursive;
    background-color: black;
    
}
.selectCountry {
    background-color: black;
    font-family: cursive;
    width: 230px;
}

.form input {
    font-family: cursive; 
    height: 30px;
    width:250px
}

.item {
    
    margin-bottom: 20px;
}

.item label {
    font-family: 'Maler';
    font-weight: 400;
    margin-right: 20px;
    margin-left: 100px;
}

.item input {
    background-color: black;
    color: rgb(173, 247, 243)
}

.btn {
    background: rgb(19,94,233);
    background: radial-gradient(circle, rgba(19,94,233,0.962877030162413) 44%, rgba(6,50,226,0.9360119047619048) 100%);
    font-family: 'Maler';
    padding: 3px 0px;
    margin-top: 20px;
    margin-left: 250px;
    width: 100px;
    /* font-weight: 700; */
    color: rgb(173, 247, 243);
}
.btn:hover {
    color: rgb(12, 1, 1);
    /* background-color: rgb(19,94,233) */
    /* background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(32,29,253,1) 48%, rgba(252,176,69,1) 100%); */
background: rgb(131,58,180);
background: linear-gradient(90deg, rgb(154, 53, 221) 0%, rgba(32,29,253,1) 100%, rgba(252,176,69,1) 100%);
} 

.link {
    color: rgb(0, 0, 0);
 
    font-family: 'Maler';
    font-weight: 700;
    font-size: 22px;
}
.link:hover {
    color: rgb(2, 16, 212);
}