@font-face{
    font-family: 'Maler';
    /* src: url(../../fonts/brankovic.ttf); */
    /* src: url(../fonts/ConcertOne-Regular.ttf); */
    src: url(../fonts/Hand_Of_Sean_Demo.ttf);
}
.card {
    border: 1px solid blue;
    border-radius: 5px;
    /* background-color:rgba(0, 69, 230, 0.116); */
    /* background: rgb(19,94,233);
    background: radial-gradient(circle, rgba(19, 94, 233, 0.26) 44%, rgba(6, 50, 226, 0.253) 100%); */

    background: rgb(47,232,233);
    background: radial-gradient(circle, rgba(47,232,233,1) 0%, rgba(138,164,241,1) 67%);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}
.card:hover{   
    box-shadow: 4px 6px 10px rgb(134, 134, 134);
}

.flag {
    border: 1px solid rgb(61, 61, 61);
    width: 200px;
    height: 100px;
}

.detail {
    font-family: 'Maler';

    display: flex;
    justify-content:center;
    align-items:center;

}

.detail p{
    margin-right: 10px;
}
.link{
    color: rgb(177, 3, 162);
    /* color: rgb(173, 247, 243); */
}
