

.cnt{

    margin: 2rem;
    display: grid;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.7fr 0.7fr 0.7fr;  
    gap: 2rem 3rem; 
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . ."; 
    
}


