/* esto es de la tarea del clima

.cnt{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
@media(max-width: 768px){
    .cnt{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        
    }
} */