

/* .cont {
    width: 170px;
    height: 150px;
} */
.card {
    background-color:rgba(24, 70, 156, 0.493);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.flag {
    width: 200px;
    height: 100px;
}

.detail {
    width: 350px;
    display: flex;
    justify-content:center;
    align-items:center;
    /* margin-top:0px;
    margin-bottom:0px; */
}

.detail p{
    margin-right: 10px;
}

/* esto es de la tarea del clima

.card{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 350px;
    padding: 15px;  
    border: 1px solid dimgray;
    background-color: rgba(51, 3, 128, 0.342);
    border-radius: 5px;  
    height: 300px;
}
@media(max-width: 768px) {
    .card {
        margin-bottom: 10px;
    }

}
.middle{
    display: flex;
    justify-content: space-evenly;
}
.middle p{
    padding-right: 15px;
}
.middleDiv{
    display: flex;
    flex-direction: row;
}

.btn{
    background-color: red;
    width: 25px;
    border-radius: 5px;
    margin: 5px;
    align-self: flex-end;

}
.btnColor{
    font-weight: 700;
    color: white;
}
.btn:hover{
    color: red;
    background-color: white;
} */