

.cnt{

    margin: 20px;
    display: grid;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.7fr 0.7fr 0.7fr;  
    gap: 20px 30px; 
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . ."; 
    
}


