

/* .cont {
    width: 170px;
    height: 150px;
} */
.card {
    border: 1px solid blue;
    border-radius: 5px;
    /* background-color:rgba(0, 69, 230, 0.116); */
    /* background: rgb(19,94,233);
    background: radial-gradient(circle, rgba(19, 94, 233, 0.26) 44%, rgba(6, 50, 226, 0.253) 100%); */
    background: rgb(19,94,233);
    background: radial-gradient(circle, rgba(19,94,233,0.962877030162413) 44%, rgba(6,50,226,0.9360119047619048) 100%);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    /* width: 350px; */
}
.card:hover{
   
    /* box-shadow: 4px 6px 10px rgb(59, 59, 59); */
    box-shadow: 3px 3px 6px rgb(97, 97, 97);
    
}

.flag {
    border: 1px solid rgb(61, 61, 61);
    width: 200px;
    height: 100px;
}

.detail {
    font-family: cursive;
    /* width: 350px; */
    display: flex;
    justify-content:center;
    align-items:center;
    /* margin-top:0px;
    margin-bottom:0px; */
}

.detail p{
    margin-right: 10px;
}
.link{
    color: rgb(173, 247, 243);
}
/* esto es de la tarea del clima

.card{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 350px;
    padding: 15px;  
    border: 1px solid dimgray;
    background-color: rgba(51, 3, 128, 0.342);
    border-radius: 5px;  
    height: 300px;
}
@media(max-width: 768px) {
    .card {
        margin-bottom: 10px;
    }

}
.middle{
    display: flex;
    justify-content: space-evenly;
}
.middle p{
    padding-right: 15px;
}
.middleDiv{
    display: flex;
    flex-direction: row;
}

.btn{
    background-color: red;
    width: 25px;
    border-radius: 5px;
    margin: 5px;
    align-self: flex-end;

}
.btnColor{
    font-weight: 700;
    color: white;
}
.btn:hover{
    color: red;
    background-color: white;
} */