@font-face{
    font-family: 'Maler';
    src: url(../fonts/Hand_Of_Sean_Demo.ttf);
}

.cont {
    /* background-image: url(../images/mapa1.jpg); */
    background: rgb(47,232,233);
    background: radial-gradient(circle, rgba(47,232,233,1) 0%, rgba(138,164,241,1) 67%);
    max-width: 100%;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.card {
    border-style: inset ;

    border-radius: 10px;
    background: rgb(52,49,54);
    background: radial-gradient(circle, rgba(52,49,54,1) 0%, rgba(0,0,8,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff
    

}

.flag {  
    width: 300px;
    height: 200px;
    padding-right: 30px;
    padding-left: 20px;
    
}

.line {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    padding-right: 20px;
    margin-left: 50px
   
}

.line h3 {
    font-family: cursive;
}

.line h4 {
    font-family: cursive;
}

.activities {
    color: rgb(173, 247, 243);
    margin-bottom: 10px;
    border-bottom: 3px solid;
}

.back {
    /* font-family: cursive;*/

    color: rgb(0, 0, 0);
    font-family: 'Maler';
    font-weight: 700;
    font-size: 18px;
}
